.gallery {
	display: grid;
	justify-content: center;

	margin-top: 50px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 390px));
	grid-gap: 10px;
}

.picture1 {
	grid-row-end: span 56;

	align-self: end;

	@media (max-width: 1230px) {
		grid-row-end: auto;

		order: 1;
	}
}

.picture2 {
	grid-row-end: span 70;

	position: relative;

	a {
		position: absolute;
		bottom: 40px;
		left: 50%;

		display: flex;
		align-items: center;

		width: 132px;
		height: 39px;
		padding: 0 20px;

		cursor: pointer;
		transition: 0.5s;
		transform: translateX(-50%);

		color: #FFF;

		border-radius: 20px;
		background: #383741;

		font-weight: 500;

		&::after {
			position: absolute;
			top: 8px;
			right: 18px;

			content: "\2192";

			font-size: 20px;
		}

		&:hover {
			color: #383741;
			background: #FFF;
		}
	}

	@media (max-width: 1230px) {
		grid-row-end: auto;
	}
}

.picture3 {
	grid-row-end: span 103;

	align-self: center;

	@media (max-width: 1230px) {
		grid-row-end: auto;
	}
}

.picture4 {
	grid-row-end: span 45;

	@media (max-width: 1230px) {
		grid-row-end: auto;
	}
}

.picture5 {
	grid-row-end: span 33;

	@media (max-width: 1230px) {
		grid-row-end: auto;
	}
}
