.adv {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	margin-top: 50px;

	li {
		display: flex;
		align-items: center;

		padding: 0 35px;

		border-right: 1px solid #E1E1E8;

		&:last-child {
			border-right: none;
		}

		p {
			font-weight: 300;
		}

		img {
			margin-right: 10px;
		}

		@media (max-width: 768px) {
			border-right: none;
		}
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 425px) {
		grid-template-columns: 1fr;
	}
}
